<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <!-- Mettez ici vos balises meta, liens vers les feuilles de style, etc. -->
</head>
<body>
    <header>
        <!-- Barre de navigation, en-tête, etc. -->
    </header>

    <div class="container">
     hello
    </div>

    <footer>
        <!-- Pied de page, informations de contact, etc. -->
    </footer>
</body>
</html>
