<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <!-- Mettez ici vos balises meta, liens vers les feuilles de style, etc. -->
</head>
<body>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="..." class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
</body>
</html>
